* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

h1  {
  color: black;
  font-family: lato;
  text-align: center;

}

h2 {
  color: black;
}

h3  {
  color: black;
}

.navigation {
  text-decoration: none;
  font-family: lato;
  color: #000000;
}

.head {
  color: blue;
}

a {
  text-decoration: none;
  font-family: lato;
}

span .adver  {
  text-decoration: bold;
}

img.code  {
  padding-left: 5px;
  padding-right: 5px;
}

img.stock_image {
  padding-left: 5px;
  padding-right: 5px;
}