* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

h1  {
  color: black;
  font-family: lato;
}

h2 {
  color: black;
}

h3  {
  color: black;
}

.navigation {
  text-decoration: none;
}

.head {
  color: blue;
}

a {
  text-decoration: none;
  font-family: lato;
}